# average per capita by age 

What do the average per capita mortgage levels would be once you adjust for the joint mortgage issue. this could be different for you vs old people since they have different likelihood of being in a relationship. just take the observed likelihood that people in the different age groups hold mortgages jointly or individually.

In [1]:
# Setting up 

import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

sample = "~//projects//equifaxmacro_proj//EquiFax3//2_10_Percent_Sample_Construction//output//sample//"

In [169]:
# read in a month
cols = ['consumer_id', 'trade_id', 'product_category', 'balance', 'ecoa', 'consumer_age_archive']

month_str = sample + "202001_10perc.parquet"
mon = pd.read_parquet(month_str, columns = cols)

In [170]:
# only keep first mortgages
total_ppl = mon.groupby('consumer_age_archive').apply(lambda group: len(group.consumer_id.unique()))
mon = mon[mon.product_category == "FM"]

total_mort_ppl = mon.groupby('consumer_age_archive').apply(lambda group: len(group.consumer_id.unique()))

In [160]:
mon.head()

,consumer_id,trade_id,product_category,balance,ecoa,consumer_age_archive
4,23291220,1031986843,FM,327820,I,3
939,103838,1032019573,FM,189463,I,3
1393,14973534,1029445310,FM,241139,J,2
1394,21395140,1029445310,FM,241139,J,2
1400,10826332,1032043676,FM,195921,I,2

In [161]:
mon.shape

(811985, 6)

In [162]:
# we want to know the percentage of people that have at least one joint mortgage. Let's figure out the number of people first

In [163]:
# now let's do the same, but filter out all the people without joint mortgages

joint = mon[mon.ecoa=="J"]

In [164]:
joint_ppl = joint.groupby('consumer_age_archive').apply(lambda group: len(group.consumer_id.unique()))

consumer_age_archive
0    0.669550
1    0.564372
2    0.599753
3    0.639210
4    0.653657
5    0.666171
6    0.681523
7    0.650927
dtype: float64

now, we want to adjust the per mortgage balance per capita 
From Antoinette: "just take the observed likelihood that people in the different age groups hold mortgages jointly or individually."

Isn't the best option still to just drop half of all the joint tradlines?

In [148]:
mon.head()

,consumer_id,trade_id,product_category,balance,ecoa,consumer_age_archive
4,23291220,1031986843,FM,327820,I,3
939,103838,1032019573,FM,189463,I,3
1393,14973534,1029445310,FM,241139,J,2
1394,21395140,1029445310,FM,241139,J,2
1400,10826332,1032043676,FM,195921,I,2

In [149]:
# get all the mortgages again
# drop half of all the joint mortgages 
# figure out the balances per capita (by state?)
mort = mon[mon.product_category == "FM"]

# separate individual and joint
ind = mort[mort.ecoa == "I"]
joint = mort[mort.ecoa == "J"]

In [150]:
# uhhhh, I guess we just drop half the tradelines 

joint.head()

,consumer_id,trade_id,product_category,balance,ecoa,consumer_age_archive
1393,14973534,1029445310,FM,241139,J,2
1394,21395140,1029445310,FM,241139,J,2
1444,17189636,717601721,FM,238661,J,5
1469,22144587,929564376,FM,90094,J,4
1621,26169177,717672696,FM,141519,J,3

In [151]:
# okay, so we can just drop half the tradelines directly? 
joint.shape

(521631, 6)

In [152]:
joint = joint.iloc[0::2,:]
joint.shape

(260816, 6)

In [153]:
new_mort = pd.concat([ind, joint])

In [154]:
# this is balance 

new_mort.groupby('consumer_age_archive').sum()['balance']

consumer_age_archive
0      227305532
1      504807271
2    11521172388
3    23981317551
4    24795232805
5    19699044695
6    10656441240
7     3714570199
Name: balance, dtype: int64

In [155]:
total_ppl

consumer_age_archive
0      5332
1    178411
2    398606
3    383249
4    376947
5    394799
6    309516
7    242970
dtype: int64

In [156]:
# this is balance 

new_mort.groupby('consumer_age_archive').sum()['balance']/total_ppl

consumer_age_archive
0    42630.444861
1     2829.462707
2    28903.660226
3    62573.725048
4    65779.095748
5    49896.389543
6    34429.371147
7    15288.184545
dtype: float64

In [157]:
new_mort['balance'].sum()/total_ppl.sum()

41531.42009712511

In [158]:
mort['balance'].sum()/total_ppl.sum()

63463.98103702022

In [166]:
# okay, so we want two things: 
# 1) percentage of mortgages that are joint mortgages by age? And overall? 
# 2) percentage of people with a mortgage by age (and overall)
# 3) mortgage per capita, by age and overall

In [167]:
perc_mort = joint_ppl/total_mort_ppl
perc_mort.index =

consumer_age_archive
0    0.669550
1    0.564372
2    0.599753
3    0.639210
4    0.653657
5    0.666171
6    0.681523
7    0.650927
dtype: float64

In [171]:
total_mort_ppl/total_ppl

consumer_age_archive
0    0.216804
1    0.025643
2    0.206868
3    0.390743
4    0.443399
5    0.407040
6    0.318523
7    0.160114
dtype: float64

In [172]:
new_mort.groupby('consumer_age_archive').sum()['balance']/total_ppl

consumer_age_archive
0    42630.444861
1     2829.462707
2    28903.660226
3    62573.725048
4    65779.095748
5    49896.389543
6    34429.371147
7    15288.184545
dtype: float64